*{
    margin: 0 auto;
}

/* Estilos adicionales para la página */
.bg-primary {
    background-color: #4E97F0;
}
.text-secondary {
    color: #F2F2F2;
}
.text-accent {
    color: #FF6B6B;
}
.bg-shadow {
    /* Agrega sombra de fondo */
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
}
